<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MGC - Reset password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <style>
        form i {
            margin-left: 10px;
            cursor: pointer;
        }

        @media screen and (max-width: 800px) {
        h1 {
            font-size: 30px;
        }
        }

        @media screen and (max-width: 720px) {
        h1 {
            font-size: 25px;
        }
        }

        @media screen and (max-width: 640px) {
        h1 {
            font-size: 20px;
        }
        }

        @media screen and (max-width: 492px) {
        h1 {
            font-size: 15px;
            word-wrap: break-word;
        }
        }
    </style>
</head>

<body>
    <div id="reset-password">
        <h1 style="color: #17a2b8">
            <img src="static/logo.jpg" alt="MGC logo" width="150" height="150" style="margin-left: 10px; margin-top: 10px;" usemap="#logomap"> Music Genre Classification
            <map name="logomap">
                <area alt="logo" title="logo" href="mgc" coords="9,24,176,170" shape="rect">
            </map>
        </h1>
        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card" style="background-color:#f8f7ff;">
                        <div id="reset-row" class="row justify-content-center align-items-center">
                            <div id="reset-column" class="col-md-6">
                                <div id="reset-box" class="col-md-12">
                                    <form id="reset-form" class="form" action="new-password" method="post">
                                        &nbsp;
                                        {% csrf_token %}
                                        <h3 class="text-center text-info">Please enter your new password.</h3>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="hidden" name="username" id="username" value="{{ user }}">
                                        <div class="form-group">
                                            <label for="password" class="text-info">New Password:</label><i
                                                class="bi bi-eye-slash" id="togglePassword"></i><br>
                                            <input type="password" name="password" id="password" class="form-control"
                                                minlength="8" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="new-password-confirmation" class="text-info">Confirm New
                                                Password:</label><br>
                                            <input type="password" name="password-confirmation"
                                                id="password-confirmation" class="form-control" minlength="8" required>
                                        </div>

                                        <script type="text/javascript">
                                            const togglePassword = document.querySelector('#togglePassword');
                                            const password = document.querySelector('#password');
                                            const password_confirmation = document.querySelector('#password-confirmation');

                                            togglePassword.addEventListener('click', function (e) {
                                                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                                                password.setAttribute('type', type);
                                                this.classList.toggle('bi-eye');
                                            });

                                            togglePassword.addEventListener('click', function (e) {
                                                const type = password_confirmation.getAttribute('type') === 'password' ? 'text' : 'password';
                                                password_confirmation.setAttribute('type', type);
                                                this.classList.toggle('bi-eye');
                                            });
                                        </script>
                                        
                                        <div class="text-center" id="failed-alert">
                                            {% for message in messages %}
                                            <a> {{message}} </a>
                                            {% endfor %}
                                        </div> &nbsp;
                                        <div class="text-center">
                                            <input style="background-color: #1446a0; border-color: #1446a0;"
                                                type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
                                        </div> &nbsp;&nbsp;
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>