<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MGC - Reset password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

    <style>

        @media screen and (max-width: 800px) {
        h1 {
            font-size: 30px;
        }
        }

        @media screen and (max-width: 720px) {
        h1 {
            font-size: 25px;
        }
        }

        @media screen and (max-width: 640px) {
        h1 {
            font-size: 20px;
        }
        }

        @media screen and (max-width: 492px) {
        h1 {
            font-size: 15px;
            word-wrap: break-word;
        }
        }

    </style>
<body>
    <div id="reset-password">
        <h1 style="color: #17a2b8">
            <img src="static/logo.jpg" alt="MGC logo" width="150" height="150" style="margin-left: 10px; margin-top: 10px;" usemap="#logomap"> Music Genre Classification
            <map name="logomap">
                <area alt="logo" title="logo" href="mgc" coords="9,24,176,170" shape="rect">
            </map>
        </h1>
        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card" style="background-color:#f8f7ff;">
                        <div id="reset-row" class="row justify-content-center align-items-center">
                            <div id="reset-column" class="col-md-6">
                                <div id="reset-box" class="col-md-12">
                                    <form id="reset-form" class="form" action="reset" method="post">
                                        &nbsp;
                                        {% csrf_token %}
                                        <h3 class="text-center text-info">Enter the email address that you used to
                                            register. We will send you an email with a link to reset your password.</h3>
                                        &nbsp;&nbsp;&nbsp;
                                        <div class="form-group">
                                            <label for="email" class="text-info"> Email:</label><br>
                                            <input type="email" name="email" id="email" class="form-control" required>
                                        </div>
                                        <div class="text-center" id="failed-alert">
                                            {% for message in messages %}
                                            <a> {{message}} </a>
                                            {% endfor %}
                                        </div> &nbsp;
                                        <div class="text-center">
                                            <input style="background-color: #1446a0; border-color: #1446a0;"
                                                type="submit" name="Submit" class="btn btn-info btn-md" value="Send">
                                        </div> &nbsp;&nbsp;
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>